for the largest screen size the container should be max-w-[1560px]
```
└── 📁ceylanray
    └── 📁public
        └── .DS_Store
        └── arrow-right-white.svg
        └── arrow-right.svg
        └── 📁common
            └── company-logo.webp
            └── cta-beach-3s.mp4
            └── cta-forest.jpg
        └── 📁home
            └── .DS_Store
            └── best-events.webp
            └── 📁cta
                └── cta-forest.webp
            └── 📁homeAboutFirst
                └── forest.mp4
                └── homeAboutFirst-1.webp
                └── homeAboutFirst-3.webp
                └── homeAboutFirst-4.webp
            └── homeHero.webp
            └── 📁homeServices
                └── flights.webp
                └── hotels.webp
                └── packages.webp
            └── 📁recommended
                └── ella-nineArch.webp
                └── fire.webp
                └── sigiriya.webp
                └── yala.webp
        └── manifest.json
    └── 📁src
        └── .DS_Store
        └── 📁app
            └── .DS_Store
            └── 📁contact-us
                └── page.tsx
            └── favicon.ico
            └── globals.css
            └── layout.tsx
            └── opengraph-image.jpg
            └── page.tsx
        └── 📁components
            └── 📁common
                └── Button.tsx
                └── Cta.tsx
                └── Footer.tsx
            └── 📁Header
                └── Header.jsx
                └── Menu.jsx
            └── 📁pages
                └── 📁about
                └── 📁contact
                    └── TravelEnquiryForm.tsx
                └── 📁home
                    └── BestEvent.tsx
                    └── HomeAboutFirst.tsx
                    └── HomeHero.tsx
                    └── HomeIntroduction.tsx
                    └── HomeRecommended.tsx
                    └── HomeServices.tsx
                    └── Testimonials.tsx
            └── 📁ui
                └── button.tsx
                └── calendar.tsx
                └── Marquee.tsx
                └── popover.tsx
        └── 📁lib
            └── utils.ts
        └── 📁styles
            └── theme.css
    └── .cursorrules
    └── .DS_Store
    └── .gitignore
    └── components.json
    └── eslint.config.mjs
    └── next-env.d.ts
    └── next.config.ts
    └── package-lock.json
    └── package.json
    └── postcss.config.mjs
    └── README.md
    └── tailwind.config.ts
    └── tsconfig.json
```
use the base styling in  theme.css (for text)  and tailwind.config.mjs for colors and other styles 